.popup-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #1a1a1abe;
    z-index: 9999;
  }
  
  .popup-content {
    background-color: #1a1a1a;
    width: clamp(300px, 95%, 500px);
    padding: 0px 20px 40px 20px;
    border-radius: 10px;
    color: #fff;
  }
  
  .close {
    margin-left: calc(100% - 20px);
    top: 10px;
    right: 10px;
    cursor: pointer;
    color: #f5df4e;
    font-size: 40px;
    transition: 0.3s;
    width: 150px;
    border-radius: 5px;;
  }

  .popup-open {
    overflow: hidden;
  }

  .close:hover {
    color: #f59c4e;
  }